html{
  background: url(http://static.wixstatic.com/media/659b4d_7d615dbfc23d817a50b100f83d82739f.gif);
  background-size: cover;
  color: #333;
}
.members {
  border:1px solid #ccc;
  border-radius: 5px;
  background: #fffacd;
  width:300px;
  margin:.5em auto .5em 2em;
  padding:.5em;
  display: inline-block;
}

body{
  max-width:70em;
  font-family:"Helvetica Neue", sans-serif;
  padding:2em;
  margin:2em auto 0em auto;
}

header{
  border:1px solid #ccc;
  border-radius: 5px;
  background: #fffacd;
  width:400px;
  margin: .5em auto .5em auto;
  padding:.5em;
  text-align: center;
}

.member_heading {
  border:1px solid #ccc;
  border-radius: 5px;
  background: #fffacd;
  width:300px;
  margin: .2em auto 3em auto;
  text-align: center;
}

.new_edit{
  border:1px solid #ccc;
  border-radius: 5px;
  background: #fffacd;
  width:400px;
  margin:.5em auto .5em auto;
  padding:.5em;
  text-align: center;
}
.group_heading {
  border:1px solid #ccc;
  border-radius: 5px;
  background: #fffacd;
  width:500px;
  margin: .2em auto 3em auto;
  text-align: center;
  padding-bottom: 2em;
}

.groups{
  border:1px solid #ccc;
  border-radius: 5px;
  background: #fffacd;
  width:300px;
  margin:.5em auto .5em 2em;
  padding:.5em;
  display: inline-block;
  text-align: center;
}
